<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<suite name="Suite1" verbose="1"> 
    <listeners>
        <listener class-name = "com.homedepot.Utilities.Reporting" />
    </listeners>

    <test name="DIY Project List and Ideas">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.homedepot.TestCases.DIYProjectTC"/>
            <methods>
                <include name="checkProjectListVisible" />
                <include name="checkProjectListInVisible" />
                <include name="checkProjectListContent" />
                <include name="checkProjectListNavigation" />
            </methods>
        </classes>
    </test>
    <!--<test name="Regression">
        <classes>
           <class name="com.mycompany.testngproject.TestNGTest"/>
        </classes>
    </test> -->
</suite>

