<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Homedepot">

    <listeners>
		<listener class-name = "com.homedepot.Utilities.Reporting" />
	</listeners>
	
	<test name="HomeDepot Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.homedepot.TestCases.HomeScreenTest">
				<methods>
			        <include name ="giftcards_004"/>
					<include name ="findastore_003"/>
					<include name ="searchanitem_tc002"/>
					<include name ="login_001"/>
				</methods> 
			</class>
		</classes>
    </test>

    <test name="DIY Project List and Ideas">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.homedepot.TestCases.DIYProjectTC">
            <methods>
                <include name="checkProjectListVisible"/>
                <include name="checkProjectListInVisible"/>
                <include name="checkProjectListContent"/>
                <include name="checkProjectListNavigation"/>
            </methods>
            </class>
        </classes>
    </test>
    
    
</suite>